#title {
  /*background-color: #ff4c68;*/
  background-color: #06283D;
  color: #fff;
}
h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.0rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}
body {
  font-family: "Montserrat";
  font-weight: 600;
}
h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3 {
  font-weight: 700;
  font-size: 1.3rem;
}

/* ===========================Navigation bar ================================*/

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.0rem;
  font-weight: 500;
  
}
.navbar {
  padding: 0 0 3.0rem 0;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.1rem;
}
/* ===========================download buttons ================================*/

.but {
  font-family: "Montserrat";
  font-weight: 520;
}
.download-button {
  margin: 5% 3% 5% 0;
}
/*============================ title-image =============================*/
.title-image {
  width: 80%;
  transform: rotate(-5deg);
  right: 10%;
  position: absolute;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 0;
  }
  #title {
    text-align: center;
  }
}

/* ===========================FEATURES ================================*/
.tick {
  font-size: 60px;
  margin-bottom: 1rem;
  color: #06283D;
}

.feature-box {
  padding: 1% 3% 1% 3%;
  text-align: center;
  
}
.sub-content {
  color: #8f8f8f;
  font-size: 13.7px;
  text-align: center;
}
.tick:hover {
  color: #1c5d86;
}
#features {
  padding: 5% 4% 5% 4%;
  background-color: #fff;
  position: relative;
}
 .categories{
  margin-left: 10%;
  padding-left: 15%;
  padding-bottom: 10%;
 }
/* ===========================Testimonial Section ================================*/

#testimonials {
  text-align: center;
  background-color: #06283D;
  color: #fff;
}
.testimonial-image {
  width: 13%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 5% 15% 5% 15%;
}
#press {
  background-color: #06283D;
  text-align: center;
  padding-bottom: 3%;
}
.press-logos {
  width: 10%;
  margin: 20px 20px 50px;
}


/*============================PRIZES=================================*/
.prizes-div{
  background-color: #06283D;
  text-align: left;
  padding: 3% 5% 5% 5%;
}
/* ===========================Pricing Section ================================*/
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

/*=========================organisers=============================*/
.org-img{
  width:30%;
  padding-bottom: 2%;
}
/* ===========================Call to Action================================*/

.cta-div {
  background-color: #06283D;
  text-align: center;
  padding: 10% 10% 4%;
}
.find {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
.mg {
  height: 5rem;
  background-color: #fff;
}
/* ===========================footer================================*/
#footer {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.icon {
  font-size: 3.0rem;
  margin: 0 1rem 2rem;
  transition: ease;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.icon:hover {
  font-size: 4.5rem;
  color: #1c5d86;
}
.Copyright {
  margin-top: 10px;
  position: sticky;
}
.social-media {
  height: 4.5rem;
}
html
{
  scroll-behavior: smooth;
  margin: 0;
}